<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50,50,50">
    <Label class="action-bar-title" text="Home" colSpan="0"></Label>
    <button text="+" col="1" [visibility]='addVis' (tap)="addReservation($event)" ></button>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()" col="2" ></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content" rows="50,50,50,50,50,50,50,50,50,50,50,10,50,50,50" columns="50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50" width="100%" height="100%" >

  <GridLayout row="0" col="0" rows="50" columns="25,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50" colspan="22" orientation="horizontal" verticalAlignment="center">
    <Label text="" fontWeight="bold" fontSize="17" row="0" col="0" backgroundColor="white" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="16:00" fontWeight="bold" fontSize="17" row="0" col="1" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="16:30" row="0" col="2" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="17:00" fontWeight="bold" fontSize="17" row="0" col="3" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="17:30" row="0" col="4" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center"></Label>
    <Label text="18:00" fontWeight="bold" fontSize="17" row="0" col="5" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center"></Label>
    <Label text="18:30" row="0" col="6" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="19:00" fontWeight="bold" fontSize="17" row="0" col="7" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="19:30" row="0" col="8" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="20:00" fontWeight="bold" fontSize="17" row="0" col="9" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="20:30" row="0" col="10" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="21:00" fontWeight="bold" fontSize="17" row="0" col="11" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="21:30" row="0" col="12" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="22:00" fontWeight="bold" fontSize="17" row="0" col="13" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="22:30" row="0" col="14" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="23:00" fontWeight="bold" fontSize="17" row="0" col="15" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="23:30" row="0" col="16" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="24:00" fontWeight="bold" fontSize="17" row="0" col="17" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="00:30" row="0" col="18" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="01:00" fontWeight="bold" fontSize="17" row="0" col="19" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="01:30" row="0" col="20" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
    <Label text="02:00" fontWeight="bold" fontSize="17" row="0" col="21" backgroundColor="lightgrey" borderWidth="1" borderColor="white" textAlignment="center" ></Label>
  </GridLayout>
  
    <Label text="B1" fontWeight="bold" row="1" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="1" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="1" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B2" fontWeight="bold" row="2" col="0" backgroundColor="darkgrey" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="2" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="2" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B3" fontWeight="bold" row="3" col="0" backgroundColor="darkgrey" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="3" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="3" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B4" fontWeight="bold" row="4" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="4" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="4" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B5" fontWeight="bold" row="5" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="5" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="5" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B6" fontWeight="bold" row="6" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="6" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="6" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B7" fontWeight="bold" row="7" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="7" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="7" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B8" fontWeight="bold" row="8" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="8" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="8" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B9" fontWeight="bold" row="9" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="9" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="9" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
  
    <Label text="B10" fontWeight="bold" row="10" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="10" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="10" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    
    <label row="11" col="0" backgroundColor="grey" ></label>
    <label row="11" col="1" backgroundColor="grey" ></label>
    <label row="11" col="2" backgroundColor="grey" ></label>
    <label row="11" col="3" backgroundColor="grey" ></label>
    <label row="11" col="4" backgroundColor="grey" ></label>
    <label row="11" col="5" backgroundColor="grey" ></label>
    <label row="11" col="6" backgroundColor="grey" ></label>
    <label row="11" col="7" backgroundColor="grey" ></label>
    <label row="11" col="8" backgroundColor="grey" ></label>
    <label row="11" col="9" backgroundColor="grey" ></label>
    <label row="11" col="10" backgroundColor="grey" ></label>
    <label row="11" col="11" backgroundColor="grey" ></label>
    <label row="11" col="12" backgroundColor="grey" ></label>
    <label row="11" col="13" backgroundColor="grey" ></label>
    <label row="11" col="14" backgroundColor="grey" ></label>
    <label row="11" col="15" backgroundColor="grey" ></label>
    <label row="11" col="16" backgroundColor="grey" ></label>
    <label row="11" col="17" backgroundColor="grey" ></label>
    <label row="11" col="18" backgroundColor="grey" ></label>
    <label row="11" col="19" backgroundColor="grey" ></label>
    <label row="11" col="20" backgroundColor="grey" ></label>
    <label row="11" col="21" backgroundColor="grey" ></label>

    <Label text="Dart 1" fontWeight="bold" row="12" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="12" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="12" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>

    <Label text="Dart 2" fontWeight="bold" row="13" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="13" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="13" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>

    <Label text="Poker" fontWeight="bold" row="14" col="0" backgroundColor="darkgray" borderWidth="2" borderColor="black" textAlignment="center" ></Label>
    <Label text="" row="14" col="1" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="2" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="3" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="4" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="5" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="6" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="7" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="8" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="9" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="10" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="11" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="12" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="13" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="14" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="15" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="16" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="17" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="18" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="19" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="20" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    <Label text="" row="14" col="21" backgroundColor="white" borderWidth="1" borderColor="black" textAlignment="center" (tap)="onTap($event)" ></Label>
    

  </GridLayout>
  
  <AbsoluteLayout [visibility]='dialogOpen'>
    <StackLayout class="dialog" backgroundColor="white" >
    <StackLayout orientation="horizontal" >
      <Label text="Name" width="15%"  padding-left="15" padding-top="15" ></Label>
      <TextField [(ngModel)]="name" backgroundColor="lightyellow" width="65%" ></TextField>
    </StackLayout>
    <StackLayout orientation="horizontal" >
      <Label text="Personenzahl" width="15%" ></Label>
      <TextField [(ngModel)]="personCount" backgroundColor="lightyellow" width="65%" ></TextField>
    </StackLayout>
      <Button text="Ok" (tap)="onReservation($event)" ></Button>
    </StackLayout>  

  </AbsoluteLayout>